:root {
  --text-color: #18B9D1;
}


.fondo-backgroup {

  background: url(../img/backgroup.jpg) no-repeat center;
  background-size: 100% 100%;
}

.nav {
  background-color: #35466B;
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(52, 70, 106, 0.902);
  height: 550px;
  box-shadow: 0px 10px 10px #192746e6;
}

.title-login h2 {
  color: var(--text-color);
  font-size: 2rem;
  text-align: center;
}

.img-login img {
  display: block;
  width: 80px;
  margin: 20px auto;
}

.item-inner .item-title {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
}

.list .item-input input {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.list .item-input .imputImueble {
  color: #6482A6;

  font-size: 1rem;
  font-weight: bold;
}

.btn-login {
  margin: 20px auto;
  width: 40%;
  background: var(--text-color);
}

.btn-login-fin {
  margin: 0 auto;
  width: 60%;
  background: var(--text-color);
}

.login-p {
  color: white;
  margin: 0 auto;
  font-weight: 500;
  font-size: small;
}


.panel {
  min-width: 100px;
  max-width: 90vw;
}


.herramientas{
background-color: #35466B;
}

.traparesubnav{
  opacity: .8;
  background-color: rgba(0, 0, 0, 0.301);
  padding: 25px;
}

.color-subnavbar{
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

 .card{
  overflow: hidden;
  transition: all 400ms ease;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
} 


.mensaje {
  color: #084d57;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.mensaje2{
  color: #fd0404;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

